.usercard {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(139, 123, 30);
    border-radius: 8px;
    box-shadow: 0 0 5px #765;
    text-shadow: 0 0 blue;
}