{% extends "layouts/default.twig" %}

{% block content %}

		<!-- ================== Block Main Top ================== -->
		{% include 'blocks/block-main-top.twig' %}
    
        <div class="container">
            <h1>Home Page</h1>
        </div>

 		<!-- ================== Block Main Bottom ================== -->
		{% include 'blocks/block-main-bottom.twig' %}

{% endblock %}