<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_head.twig" %}
  </head>

  <body>	
    <!-- HEADER -->
    {% include "../components/header.twig" %}
    
    <!-- MAIN -->
    <main>
    {% block content %}

    {% endblock %}
    </main>

    <!-- FOOTER -->
    {% include "../components/footer.twig" %}
    
  
    <!-- SCRIPTS -->
    {% include "_scripts.twig" %}
  </body>
</html>